language: csharp
sudo: false
notifications:
  email:
    on_success: change
    on_failure: change
mono:
  - beta
env:
  global:
    - secure: JG+808gsJ65N/BE7yzCbVVtQYkZd2KmI5ErsS6qWF3vMzk8fewQbS0BdPl/D1dWW7Ty1cd6RTC0nTYaUovKERj7LEURjVubR97rDPR8TjukmmQthI6X/K7MkOFO9xh90q/rqDhtXbYBZQzk3fGDjTszENOJruSitAbFI6QMzcX4=
    - secure: AbpDujLZ+ER07GllQ/cWHNYv8x1NzmsgFfUbSYIgp6OJBpLhUfgB1/ZGVtXSVByybGRnr8NBW+DZ09yA+TIDdCTp4mQBPlOCmTpEDTGmu6wSSz2zpTVwbOcgddU9pmZw4d01tGa4fG78zlpi79lo/v+vJaebZNUKkeoyurwOqkw=
addons:
  apt:
    packages:
      - curl
before_script:
  - curl https://raw.github.com/creationix/nvm/master/install.sh | sh
  - nvm install 0.12
  - chmod +x build-server.sh
  - chmod +x publish.sh
script:
  - ". ./build-server.sh"
  - npm install
  - npm test
after_success:
  - echo TRAVIS_SECURE_ENV_VARS = $TRAVIS_SECURE_ENV_VARS
  - echo TRAVIS_BRANCH = $TRAVIS_BRANCH
  - echo TAG_COMMIT = $TAG_COMMIT
  - ". ./publish.sh"
before_install:
  - openssl aes-256-cbc -K $encrypted_43a97f4523d0_key -iv $encrypted_43a97f4523d0_iv -in travis_id_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
  - eval `ssh-agent -s`
  - ssh-add ~/.ssh/id_rsa
